@import "tailwindcss";

@theme {
  --color-beige: #fdf8e1;
  --color-purple: #54388f;
  --color-light-orange: #ffce88;
  --color-pink: #eb84b0;
  --color-bright-orange: #f7b12b;
  --color-red: #d52441;
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fdf8e1;
  color: #54388f;
}

* {
  box-sizing: border-box;
}
